@import '../../_css/common';

.card {
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: white;
  width: 100%;

  @include mid-break {
    padding: 5px 2px;
  }
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.centerAlign {
  align-items: center;
}

.body {
  flex-grow: 1;
}

.priceActions {
  gap: var(--base);
}

.price {
  font-weight: 600;
  margin: 0;
}

.leader {
  @extend %label;
  display: flex;
  gap: var(--base);
}

.description {
  line-height: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hideImageOnMobile {
  @include mid-break {
    display: none;
  }
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;

  background-color: var(--color-dark-50);
  aspect-ratio: 400 / 600; /* Ajuste a proporção conforme necessário */
}

.image {
  padding: 1px;
  object-fit: cover;
  aspect-ratio: 1/1;
  max-width: 100%;
}

.placeholder {
  background-color: var(--theme-elevation-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;

  @include mid-break {
    flex-direction: column;
    align-items: flex-start;
  }
}
.strikethrough {
  color: #cccccc; // Cinza claro
}

.title {
  font-size: 20px; // Tamanho grande da fonte
  font-weight: normal; // Fonte sem negrito
}
.discountTag {
  position: absolute;
  top: 7px; // Ajuste conforme necessário
  left: 7px; // Ajuste conforme necessário
  background-color: black; // Vermelho vívido para destaque
  color: white;
  padding: 1px 7px;
  border-radius: 5px;
  font-size: 0.8em;
  z-index: 10; // Certifique-se que esteja sobre a imagem
}
