.freightCalculator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; // Garante que o container principal use toda a largura disponível
}

.label {
  font-weight: bold;
  margin-bottom: 8px;
  width: 100%; 
  text-align: left;
  white-space: nowrap; // Impede quebra de texto para o rótulo
}

.inputGroup {
  display: flex;
  align-items: center;
  width: 100%;
}

.cepInput {
  flex-grow: 1; // Garante que o input expanda para preencher o espaço
  border: 1px solid #ccc;
  padding: 8px;
  margin-right: 8px; // Espaço entre o input e o botão
  min-width: 300px; // Define uma largura mínima para garantir consistência visual
}

.okButton {
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  white-space: nowrap; // Evita que o texto do botão quebre
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; // Garante que o container de resultado use toda a largura
  white-space: nowrap; // Impede que o texto do resultado quebre
}

.forgotCep {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  white-space: nowrap; // Impede quebra de texto para o rótulo
}
