.container__slider {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgb(255, 255, 255);
  gap: 5px;
  height: 500px; /* Define uma altura fixa para o container */
}

.container__slider > button {
  background-color: transparent;
  outline: none;
  border: 0;
  color: whitesmoke;
  font-size: 24px;
}

.container__slider > button:active {
  color: black;
}

.slider__btn_next {
  position: absolute;
  right: 0;
}

.slider__btn_prev {
  position: absolute;
  left: 0;
}

.container__slider__links {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.container__slider__links_small {
  position: relative;
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  border: 0;
  background-color: white;
  border: 1px solid grey;
  transition: background-color 1s ease;
  margin: 0 2px;
}

.container__slider__links_small_active {
  background-color: black;
}

/* Adicione ao seu CSS */
.slider__item {
  box-sizing: border-box;
  min-width: 50%; /* Mantém duas imagens lado a lado */
  height: 100%; /* Ajusta a altura para 100% do container */
  overflow: hidden;
  object-fit: cover;
  transform: translateX(0);
  transition: transform 1s ease;
  padding-top: 33px;
}

.slider__item_active_1 {
  transform: translateX(0);
  background-color: white;
}

.slider__item_active_2 {
  transform: translateX(-100%);
}

.slider__item_active_3 {
  transform: translateX(-200%);
}

.slider__item_active_4 {
  transform: translateX(-300%);
}

.slider__item_active_5 {
  transform: translateX(-400%);
}

.slider__item_active_6 {
  transform: translateX(-500%);
}

.slider__item_active_7 {
  transform: translateX(-600%);
}

.slider__item img {
  width: 100%;
  height: 100%;
}
