@use '../../_css/common.scss' as *;

.productHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
  background-color: #d3cfc4; /* Cor de fundo */

  @include small-break {
    grid-template-columns: 1fr;
  }
}

.mediaWrapper {
  position: relative;
  min-height: 400px;
  background-color: var(--color-dark-50);

  @include small-break {
    min-height: 250px;
  }
}

.image {
  padding: 24px;
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 24px;
  background-color: white; /* Cor de fundo */
}

.categoryWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 18px;
}

.category {
  font-size: 14px;
  font-weight: bold;
}

.stock {
  color: var(--color-green-500);
}

.separator {
  color: var(--color-gray-500);
  padding: 0 10px;
}

.description {
  padding: 5px 0;
  font-size: 13px;
  margin-bottom: 20px;
}

.descriptionTitle {
  font-size: 18px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 8px; /* Ajuste o espaço entre os botões conforme necessário */
}

.socialShareFreightSeparator {
  border: none;
  height: 1px;
  background-color: #ccc; /* Ou use outra cor para combinar com o seu design */
  margin: 5px 0; /* Espaçamento acima e abaixo da barra */
}