@use '../../_css/common.scss' as *;

.productHero {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 20px;
  width: 100%;
  background-color: white; /* Cor de fundo */
  min-height: 650px; /* Aumentado para refletir a mudança */
  @include small-break {
    grid-template-columns: 1fr;
  }
}

.mediaWrapper {
  position: relative;
  min-height: 400px;
  background-color: rgba(252, 252, 252);
  // padding: 20px;
  width: 100%;
  @include small-break {
    
  }
}

.image {
  padding: 5px;
  object-fit: contain;
  aspect-ratio: 3/4; /* Ajustado para dar mais altura */
  max-width: 100%;
  height: auto; /* Garantir que a imagem ocupe toda a altura disponível */
}

.details {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-left: 15%;
  padding: 24px 60px;
  background-color: white; /* Cor de fundo */
  border: 1px solid rgb(238, 238, 238); /* Cor de fundo */

  @include mid-break {
    margin-left: 0%;
    margin: 0px;
    padding: 10px 15px;
  }
}

.categoryWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 18px;
  row-gap: 10px; /* Espaço entre as linhas, se houver múltiplas linhas */
  column-gap: 10px; /* Espaço entre os elementos na mesma linha */
}

.category {
  font-size: 14px;
  font-weight: bold;
}

.stock {
  color: var(--color-green-500);
}

.separator {
  color: var(--color-gray-500);
  padding: 0 10px;
}

.description {
  padding: 5px 0;
  font-size: 18px;
  margin-bottom: 20px;
}

.descriptionTitle {
  font-size: 20px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 8px; /* Ajuste o espaço entre os botões conforme necessário */
}

.socialShareFreightSeparator {
  border: none;
  height: 1px;
  background-color: #ccc; /* Ou use outra cor para combinar com o seu design */
  margin: 5px 0; /* Espaçamento acima e abaixo da barra */
}

.cartButton {
  font-size: 30px; // Mantenha a fonte grande conforme seu design
  width: 100%; // Faz o botão ocupar toda a largura do seu contêiner
  display: block; // Mantenha como bloco para ocupar toda a largura
}

.strikethrough {
  color: #cccccc; // Cinza claro
}
