.addToCartButton {
  width: 100%;
  visibility: visible;
  opacity: 1;
  transition: opacity 100ms linear;
  border-radius: 0; 

}

.green {
  color: var(--theme-success-700);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
