@import '../../_css/queries.scss';

.hero {
  padding-top: calc(var(--base) * 2);
  position: relative;
  overflow: hidden;

  @include mid-break {
    padding-top: var(--gutter-h);
  }
}

.media {
  display: grid;
 
  gap: 0; /* Remove qualquer espaço entre as imagens */
  object-fit: cover; /* Garante que a imagem ocupe todo o espaço do contêiner sem distorção */
  flex: 1 0 auto; /* Faz com que as imagens tenham tamanhos proporcionais e ocupem a mesma largura */
  width: 100%;
  height: 100%;
}

.media .image {
  flex: 1 0 auto; /* Faz com que as imagens tenham tamanhos proporcionais e ocupem a mesma largura */
  object-fit: cover; /* Garante que a imagem ocupe todo o espaço do contêiner sem distorção */
  height: 100%!important;
  width: 100%!important;
}

// Media query para dispositivos móveis
@media (max-width: 600px) {
  .media {
    flex-direction: column; /* Muda para coluna em dispositivos móveis para melhor visualização */
  }
  
  .media .image {
    height: 700px; /* Define uma altura fixa para a imagem em dispositivos móveis */
  }
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: var(--base);
  flex-wrap: wrap;
  margin: calc(var(--base) * -.5);

  & > * {
    margin: calc(var(--base) / 2);
  }
}

.caption {
  margin-top: var(--base);
  color: var(--theme-elevation-500);
  left: calc(var(--gutter-h) / 2);
  width: calc(100% - var(--gutter-h));
  position: relative;

  @include mid-break {
    left: var(--gutter-h);
  }
}

.content {
  position: relative;
}


.showSplashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

