@import '../../_css/common';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px; // Adiciona um padding para garantir espaço nas laterais

  @include mid-break {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  p {
    color: var(--color-gray-500);
  }
}

.formTitle {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;

  h3 {
    margin: 0;

    @include mid-break {
      font-size: 34px;
      margin-bottom: 8px;
    }
  }
}

.heroImg {
  display: none; // Esconder a imagem em dispositivos menores

  @include mid-break {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block; // Mostrar a imagem apenas em dispositivos maiores
  }
}

.logo {
  @include mid-break {
    position: absolute; // Posiciona absolutamente para não afetar o layout do formulário
    top: 20px; // Posição do topo
    left: 20px; // Posição da esquerda
    width: auto; // Tamanho automático baseado no conteúdo da imagem
    margin: 0; // Remover a margem
  }
}

.formWrapper {
  width: 100%;
  max-width: 600px; // Controla a largura máxima do wrapper
  padding: 1rem; // Um padding menor para um visual mais compacto
  margin: auto; // Centraliza dentro do .login

  @include mid-break {
    padding: 1rem;
  }
}

.formContainer {
  width: 100%;
  max-width: 400px; // Ajustar conforme necessário para a largura do formulário
  margin: auto; // Centraliza dentro do .formWrapper
  padding: 2rem; // Ajustar o padding interno conforme necessário
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9); // Fundo para maior legibilidade
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra leve para destacar
}

.params {
  margin-top: var(--base);
}
