@import '../../_css/common';

.container {
  width: 100%;
}

.products {
  
  @include large-break {
    grid-template-columns: 100%;
    gap: 48px;
  }
}

// Exemplo de ajuste no SCSS
.productHero {
  height: 100%; // Ajusta para a largura total
  // Ou você pode especificar uma largura fixa, como
  // width: 1200px;
}