@import '../../_css/common';

.container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
}

.products {
  @include large-break {
    grid-template-columns: 100%;
    gap: 48px;
  }
}

// Exemplo de ajuste no SCSS
.productHero {
  height: 100%;
}

// Exemplo de ajuste no SCSS
.productList {
  height: 100%;
  background-color: white; // Ajusta para a largura total
 
}

.productView {
  margin-top: 10px;
  padding: 5px; // Adicionado
}

.productContainer {
  background-color: white;
}


