@import '../../_css/common';

.createAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; // Isso vai garantir que o formulário ocupe toda a altura da tela
  padding: 0 20px; // Isso adiciona um pouco de espaço dos lados para não ficar muito justo nas bordas

  @include mid-break {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/images/image-2.svg');
  }

  p {
    color: var(--color-gray-500);
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 500px; // Você pode ajustar esta largura para que seja mais próximo do que você precisa
  margin: auto; // Isso garante que o wrapper esteja centralizado horizontalmente
}

.formContainer {
  width: 100%;
  padding: 1rem; // Reduzimos o padding para tornar o formulário mais compacto
  border-radius: 10px;
  margin: auto;
  background: white; // Se você quiser um fundo branco para o formulário
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Uma leve sombra para dar destaque
  // Outros estilos como backdrop-filter podem ser adicionados aqui se necessário

  @include mid-break {
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  @include small-break {
    padding: 1rem;
  }
}

.params {
  margin-top: var(--base);
}
