@use '../../_css/queries.scss' as *;

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @include small-break {
    flex-direction: row;
    align-items: center;
  }

  @include extra-small-break {
    padding: 10px;
  }
}

.logo {
  max-height: 100%;
  width: 200px;

  // @include large-break {
  //   width: 200px;
  // }

  // @include mid-break {
  //   width: 150px;
  // }

  // @include small-break {
  //   width: 150px;
  // }

  // @include extra-small-break {
  //   width: 150px;
  // }
}

.menu {
  margin-right: auto;

  @include small-break {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.nav {
  display: flex;
  gap: 10px;

  @include small-break {
    flex-direction: row;
    justify-content: center;
  }
}

.iconLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  @include large-break {
    width: 26px;
    height: 26px;
  }

  @include mid-break {
    width: 22px;
    height: 22px;
  }

  @include small-break {
    width: 20px;
    height: 20px;
  }

  @include extra-small-break {
    width: 18px;
    height: 18px;
  }
}

.separatorV {
  height: 43px;
  width: 1.87px;
  background-color: rgba(0, 0, 0, 0.842);
  position: absolute;
  left: calc(270px);
  margin-top: 5px;
  box-shadow: 0px 0px 4px gray;

  @include large-break {
    height: 45px;
    width: 1.85px;
    left: calc(350px);
  }

  @include mid-break {
    height: 40px;
    width: 1.85px;
    left: calc(230px);
  }
}

.hideOnMobile {
  display: block;

  @include small-break {
    display: none;
  }
}

.hamburgerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;

  @include small-break {
    justify-content: flex-end;
  }
}


