@use '../../_css/queries.scss' as *;

.header {
  padding: 10px;
  background-color: white;
  display: flex; // Usar flexbox para alinhar os itens
  align-items: center; // Alinhar verticalmente os itens
  justify-content: space-between; // Distribuir espaço entre os itens
  position: relative;

  @include large-break {
    padding: var(--medium-base) 0;
  }

  @include mid-break {
    padding: var(--medium-base) 0;
  }

  @include small-break {
    padding: var(--small-base) 0;
    flex-direction: column; // Para telas pequenas, empilhar os itens verticalmente
    align-items: center;
  }

  @include extra-small-break {
    padding: var(--extra-small-base) 0;
  }
}

.logo {
  max-height: 100%; // Garantir que o logo preencha a altura da header
  margin-left: 15px;
  width: 300px;

  @include large-break {
    width: 300px;
  }

  @include mid-break {
    width: 190px;
  }

  @include small-break {
    width: 150px;
  }

  @include extra-small-break {
    width: 100px;
  }
}

.menu {
  margin-right: auto; // Empurrar a nav para a direita

  @include small-break {
    margin-right: 0;
    margin-bottom: 10px; // Espaçamento adicional para telas pequenas
  }
}

.nav {
  display: flex;
  gap: 10px; // Espaçamento entre os botões

  @include small-break {
    flex-direction: row; // Empilhar horizontalmente para telas pequenas
    justify-content: center;
  }
}

.iconLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  @include large-break {
    width: 26px;
    height: 26px;
  }

  @include mid-break {
    width: 22px;
    height: 22px;
  }

  @include small-break {
    width: 20px;
    height: 20px;
  }

  @include extra-small-break {
    width: 18px;
    height: 18px;
  }
}


.separatorV {
  height: 43px;
  width: 1.87px;
  background-color: rgba(0, 0, 0, 0.842);
  position: absolute;
  left: calc(375px); // 20px (margin-left) + 300px (logo width) + 80px (extra spacing)
  margin-top:3px; 
  box-shadow: 0px 0px 4px gray;

  @include large-break {
    height: 45px;
    width: 1.85px;
    left: calc(270px); // 20px (margin-left) + 250px (logo width) + 10px (extra spacing)
  }

  @include mid-break {
    height: 40px;
    width: 1.85px;
    left: calc(230px); // 20px (margin-left) + 200px (logo width) + 10px (extra spacing)
  }
}