@import '../../../_css/common';

.items {
  margin: 30px 0;
}

.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-dark-50);

  @include small-break {
    display: none;
  }
}

.headerItemDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headersubtotal {
  text-align: end;
}

.subtotal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.orderTotal {
  margin-top: var(--base);
  font-weight: 600;
  text-align: end;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 60px;
  background-color: var(--color-dark-50);
}

.payment {
  margin-bottom: 40px;
}

.loading,
.error {
  margin-top: calc(var(--block-padding) - var(--base));
}

.formContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px; // Ajuste o espaço entre os dois blocos conforme necessário
}

.personalData {
  border: 1px solid #ccc; // Cor da borda
  padding: 16px; // Espaçamento interno
  border-radius: 8px; // Bordas arredondadas, se desejado
  margin-bottom: 24px; // Espaçamento inferior entre seções
  flex: 1; // Permite que os blocos cresçam igualmente
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.personalData.fadeIn {
  opacity: 1;
  max-height: 10000px; // Ajuste conforme necessário
}
