@import '../../../_css/common';

.items {
  margin: 30px 0;
}

.header {
  display: grid;
  grid-template-columns: 80px 5fr 1fr;
  gap: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-dark-50);

  @include small-break {
    display: none;
  }
}

.headerItemDetails {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.headersubtotal {
  text-align: end;
}

.subtotal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.orderTotal {
  margin-top: var(--base);
  font-weight: 600;
  text-align: end;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 60px;
  background-color: var(--color-dark-50);
}

.payment {
  margin-bottom: 40px;
}

.loading,
.error {
  margin-top: calc(var(--block-padding) - var(--base));
}