/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/_components/Button/index.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_label__pYjjJ {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .Button_label__pYjjJ {
    font-size: 13px;
  }
}

.Button_button__QvmpL {
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  background-color: transparent;
  text-decoration: none;
  display: inline-flex;
  padding: 10px 24px;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  border-radius: 10px;
}

.Button_content__rz2Uk {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Button_content__rz2Uk svg {
  margin-right: calc(var(--base) / 2);
  width: var(--base);
  height: var(--base);
}

.Button_label__pYjjJ {
  text-align: center;
  display: flex;
  align-items: center;
}

.Button_appearance--primary__aXtFJ {
  background-color: var(--theme-elevation-1000);
  color: var(--theme-elevation-0);
}

.Button_appearance--secondary__67RnZ {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--theme-elevation-1000);
}

.Button_primary--invert__abvn4 {
  background-color: var(--theme-elevation-0);
  color: var(--theme-elevation-1000);
}

.Button_secondary--invert__OpT85 {
  background-color: var(--theme-elevation-1000);
  box-shadow: inset 0 0 0 1px var(--theme-elevation-0);
}

.Button_appearance--default__Hxo2A {
  padding: 0;
  color: var(--theme-text);
}

.Button_appearance--none__nd_sY {
  padding: 0;
  color: var(--theme-text);
}
.Button_appearance--none__nd_sY .Button_label__pYjjJ {
  text-transform: none;
  line-height: inherit;
  font-size: inherit;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/_components/Gutter/index.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Gutter_gutter__QB0_n {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.Gutter_gutterLeft__9iSai {
  padding-left: var(--gutter-h);
}

.Gutter_gutterRight__4jfEx {
  padding-right: var(--gutter-h);
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/_components/VerticalPadding/index.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.VerticalPadding_top-large__Fdv3J {
  padding-top: var(--block-padding);
}

.VerticalPadding_top-medium__8WZul {
  padding-top: calc(var(--block-padding) / 2);
}

.VerticalPadding_bottom-large__W6wnm {
  padding-bottom: var(--block-padding);
}

.VerticalPadding_bottom-medium__T9Qsp {
  padding-bottom: calc(var(--block-padding) / 2);
}
