.highImpactImageContainer {
  display: grid; /* Alinha as imagens lado a lado por padrão */
  align-items: center; /* Centraliza as imagens verticalmente */
  justify-content: center; /* Centraliza as imagens horizontalmente na viewport */
  overflow-x: auto; /* Permite rolagem horizontal se as imagens ultrapassarem a largura da viewport */
}

@media (max-width: 600px) { /* Ajuste conforme o breakpoint desejado para dispositivos móveis */
  .highImpactImageContainer {
    grid-template-columns: 1fr; /* Muda a disposição para uma coluna em telas pequenas */
    overflow-x: hidden; /* Remove a rolagem horizontal em dispositivos móveis */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
  }
}

.image {
  flex: 1 0 auto; /* Faz com que as imagens tenham tamanhos proporcionais e ocupem a mesma largura */
  object-fit: cover; /* Garante que a imagem ocupe todo o espaço do contêiner sem distorção */
  height: 100%!important;
  width: 100%!important;
}
