@use '../../../_css/queries.scss' as *;

.headerButtons {
  display: flex;
  gap: 40px;
  position: absolute;
  padding: 8px;
  left: 28%;
  font-size: 25px;

  @include large-break {
    font-size: 26px;
    gap: 50px;
  }

  @include mid-break {
    font-size: 22px;
    gap: 40px;
  }

  @include small-break {
    flex-direction: column;
    gap: 20px;
    position: static;
    left: 0;
    font-size: 18px;
  }

  @include extra-small-break {
    font-size: 16px;
    gap: 15px;
  }
}

.separator {
  margin: 0 5px;

  @include large-break {
    margin: 0 6px;
  }

  @include mid-break {
    margin: 0 4px;
  }

  @include small-break {
    display: none;
  }
}

.iconsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  position: relative;

  @include large-break {
    justify-content: space-between;
  }

  @include mid-break {
    justify-content: flex-end;
  }

  @include small-break {
    flex-direction: column;
    align-items: center;
  }
}

.headerSocialIcons,
.headerIcons {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 39px;
  left: 89.3%;

  @include large-break {
    top: 45px;
  }

  @include mid-break {
    top: 35px;
  }

  @include small-break {
    position: static;
    gap: 10px;
    top: auto;
    left: auto;
  }
}

.iconLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  @include large-break {
    width: 26px;
    height: 26px;
  }

  @include mid-break {
    width: 22px;
    height: 22px;
  }

  @include small-break {
    width: 20px;
    height: 20px;
  }

  @include extra-small-break {
    width: 18px;
    height: 18px;
  }
}