@use '../../../_css/queries.scss' as *;

.headerButtons {
  display: flex;
  gap: 60px;
  position: absolute;
  padding: 8px;
  left: 28%;
  font-size: 25px;

  @include mid-break {
    font-size: 22px;
  }

  @include small-break {
    flex-direction: column;
    gap: 20px;
    position: static;
    left: 0;
    font-size: 18px;
  }

  @include extra-small-break {
    font-size: 16px;
  }
}

.separator {
  margin: 0 0px;

  @include small-break {
    display: none;
  }
}

.separatorV {
  height: 50px;
  width: 1.8px;
  background-color: rgba(0, 0, 0, 0.842);
  margin-right: 2px;
  margin-left: -85px;
  box-shadow: 0px 0px 4px gray;

  @include small-break {
    display: none;
  }
}

.iconsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  position: relative;

  @include small-break {
    flex-direction: column;
    align-items: center;
  }
}

.headerSocialIcons,
.headerIcons {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 39px;
  left: 89.3%;

  @include mid-break {
    top: 35px;
  }

  @include small-break {
    position: static;
    gap: 10px;
    top: auto;
    left: auto;
  }
}

.iconLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  @include mid-break {
    width: 22px;
    height: 22px;
  }

  @include small-break {
    width: 20px;
    height: 20px;
  }

  @include extra-small-break {
    width: 18px;
    height: 18px;
  }
}

.buttonLink {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  background-color: white;
  z-index: 1000;
}

.dropdownMenuVertical {
  display: flex;
  background-color: white;
  z-index: 1000;
  position: fixed;
  padding-top: 30px;
  left: 0px;
  right: 0px;
  width: 100%;
}

.dropdownColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4%;
}

.dropdownColumn:last-child {
  border-right: none;
}

.dropdownItem {
  text-align: left;
  font-weight: normal;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;

  @include small-break {
    font-size: 14px;
  }

  @include extra-small-break {
    font-size: 13px;
  }
}

.dropdownItem:last-child {
  margin-bottom: 0;
}

.dropdownItem:hover {
  background-color: white;
}

.boldUnderlineDropdownItem {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-underline-offset: 10px;
  text-decoration: underline;

  @include small-break {
    font-size: 16px;
  }

  @include extra-small-break {
    font-size: 14px;
  }
}

.headerButtons a:active,
.headerButtons a:focus,
.headerSocialIcons a:active,
.headerSocialIcons a:focus,
.headerIcons a:active,
.headerIcons a:focus,
.iconLink:active,
.iconLink:focus,
.buttonLink:active,
.buttonLink:focus,
.dropdownItem:active,
.dropdownItem:focus {
  background-color: inherit;
  opacity: 1;
  outline: none;
}

.blockContainer {
  position: relative;
}
