.header {
  padding: 15px 0;
  border: 5px solid red;
  
  z-index: 2;
  background-color: transparent;


}

.wrap {
  display: grid;
  align-items: center;
  background: white;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1003;
  height: auto;
  padding: 0 0 0 var(--spacing-s-px);
  border: 2px solid blue;
}

.logo {
  width: 170px;
}

.hide { 
  display: none;
}