.colorSelectWrapper {
  display: flex;
  flex-direction: column; /* Muda para coluna para colocar a label acima dos botões */
  align-items: flex-start; /* Alinha os itens à esquerda */
  margin-bottom: 1rem;
}

.colorLabel {
  font-size: 17;
  margin-bottom: 0.5rem; /* Espaço entre a label e os botões */
}

.colorsContainer {
  display: grid;
  grid-template-columns: repeat(6, minmax(20%, 1.5fr));
  flex-wrap: wrap; /* Permite que os botões de cor quebrem para a próxima linha, se necessário */
  gap: 1px;
}

.colorButton {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  outline: none;

  &:last-child {
    margin-right: 0;
  }

  .circle {
    width: 24px;
    height: 24px;
    border: 2px solid #ccc; /* Borda cinza clara */
    /* Remover border-radius para tornar o botão quadrado */
    background-color: transparent; /* Fundo transparente */
    margin-right: 0.5rem;
    position: relative;
  }

  &.selected .circle {
    border: 3px solid #333; /* Borda mais escura para o botão selecionado */


  }

  .colorName {
    font-size: 14px;
    color: #000; /* Cor do texto do nome da cor */
  }
}
