@import '../../_css/common';

// this is to make up for the space taken by the fixed header, since the scroll method does not accept an offset parameter
.scrollRef {
  position: absolute;
  left: 0;
  top: calc(var(--base) * -5);
  @include mid-break {
    top: calc(var(--base) * -2);
  }
}

.introContent {
  position: relative;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.resultCountWrapper {
  display: flex;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}
.pageRange {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 10px;
  font-size: 13px;
  color: rgb(117, 117, 117);
  margin-top: -75px;

  @include mid-break {
    margin-top: 0;
    justify-content: flex-start;
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(27px, 1fr));
  gap: 3px;
  padding: 70px 0;
  width: 100%;
  
  

  @include mid-break {
    gap: 20px;
    padding: 15px 0;
  }

  @include small-break {
    grid-template-columns: 100%;
  }
}

.pagination {
  margin-top: calc(var(--base) * 2);
  display: flex;
  justify-content: center;

  @include mid-break {
    margin-top: var(--base);
  }
}

.card {
  transition: border 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid transparent;
}

.card:hover {
  border-image: linear-gradient(45deg, #fcfcfc, #efefef) 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

