@import '../../_css/common';

// this is to make up for the space taken by the fixed header, since the scroll method does not accept an offset parameter
.scrollRef {
  position: absolute;
  left: 0;
  top: calc(var(--base) * -5);
  @include mid-break {
    top: calc(var(--base) * -2);
  }
}

.introContent {
  position: relative;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.resultCountWrapper {
  display: flex;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.pageRange {
  margin-bottom: var(--base);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
  gap: 20px;
  padding: 0;
  width: 100%;
  

  @include mid-break {
    gap: 20px;
  }

  @include small-break {
    grid-template-columns: 100%;
  }
}

.pagination {
  margin-top: calc(var(--base) * 2);
  display: flex;
  justify-content: center;

  @include mid-break {
    margin-top: var(--base);
  }
}

.card {
  transition: border 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid transparent;
}

.card:hover {
  border-image: linear-gradient(45deg, #fcfcfc, #efefef) 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

