@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;
  padding: 8px;

  > * {
    text-decoration: none;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}