@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) calc(var(--base) / 4); // Reduzir o gap entre os ícones
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  justify-content: flex-end;
  visibility: visible;
  margin-top:5px; // Adicionar margem superior para mover os itens para baixo

  > * {
    text-decoration: none;
  }

  @include large-break {
    gap: calc(var(--medium-base) / 4) calc(var(--medium-base) / 4); // Reduzir o gap entre os ícones
  }

  @include mid-break {
    gap: calc(var(--medium-base) / 4) calc(var(--medium-base) / 4); // Reduzir o gap entre os ícones
  }

  @include small-break {
    gap: calc(var(--small-base) / 4) calc(var(--small-base) / 4); // Reduzir o gap entre os ícones
  }

  @include extra-small-break {
    gap: calc(var(--extra-small-base) / 4) calc(var(--extra-small-base) / 4); // Reduzir o gap entre os ícones
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.icon {
  max-width: 75px;
  max-height: 75px;

  @include large-break {
    max-width: 65px;
    max-height: 65px;
  }

  @include mid-break {
    max-width: 45px;
    max-height: 45px;
  }

  @include small-break {
    max-width: 35px;
    max-height: 35px;
  }

  @include extra-small-break {
    max-width: 25px;
    max-height: 25px;
  }
}

.socialIcon {
  max-width: 35px;
  max-height: 35px;

  @include large-break {
    max-width: 35px;
    max-height: 35px;
  }

  @include mid-break {
    max-width: 20px;
    max-height: 20px;
  }

  @include small-break {
    max-width: 15px;
    max-height: 15px;
  }

  @include extra-small-break {
    max-width: 10px;
    max-height: 10px;
  }
}

.cartLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px; // Reduzir o gap entre os ícones do carrinho

  .icon {
    max-width: 35px;
    max-height: 45px;

    @include large-break {
      max-width: 35px;
      max-height: 50px;
      gap: 6px; // Reduzir o gap entre os ícones do carrinho
    }

    @include mid-break {
      max-width: 28px;
      max-height: 40px;
      gap: 6px; // Reduzir o gap entre os ícones do carrinho
    }

    @include small-break {
      max-width: 23px;
      max-height: 35px;
      gap: 6px; // Reduzir o gap entre os ícones do carrinho
    }

    @include extra-small-break {
      max-width: 18px;
      max-height: 30px;
      gap: 6px; // Reduzir o gap entre os ícones do carrinho
    }
  }
}

.quantity {
  margin-left: 2px;

  @include large-break {
    font-size: 14px;
    margin-left: 1.5px;
  }

  @include mid-break {
    font-size: 12px;
    margin-left: 1px;
  }

  @include small-break {
    font-size: 10px;
    margin-left: 0.5px;
  }

  @include extra-small-break {
    font-size: 8px;
    margin-left: 0.25px;
  }
}

.searchToggle {
  background: none;
  border: none;
  padding: 2px;
  cursor: pointer;

  .socialIcon {
    max-width: 40px;
    max-height: 40px;
    display: block;

    @include large-break {
      max-width: 35px;
      max-height: 35px;
    }
  
    @include mid-break {
      max-width: 20px;
      max-height: 20px;
    }
  
    @include small-break {
      max-width: 15px;
      max-height: 15px;
    }
  
    @include extra-small-break {
      max-width: 10px;
      max-height: 10px;
    }
  }
}
