@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: 15px; // Reduzir o gap entre os ícones
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  justify-content: flex-end;
  visibility: visible;
  margin-top:5px; // Adicionar margem superior para mover os itens para baixo

  > * {
    text-decoration: none;
  }


}

.hide {
  opacity: 0;
  visibility: hidden;
}

.icon {
  max-width: 75px;
  max-height: 75px;

}

.socialIcon {
  max-width: 25px;
  max-height: 25px;


}

.cartLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px; // Reduzir o gap entre os ícones do carrinho

  .icon {
    max-width: 25px;
    max-height: 25px;

    @include large-break {
      max-width: 35px;
      max-height: 50px;
      gap: 6px; // Reduzir o gap entre os ícones do carrinho
    }

    @include mid-break {
      max-width: 28px;
      max-height: 40px;
      gap: 6px; // Reduzir o gap entre os ícones do carrinho
    }

    @include small-break {
      max-width: 23px;
      max-height: 35px;
      gap: 6px; // Reduzir o gap entre os ícones do carrinho
    }

    @include extra-small-break {
      max-width: 18px;
      max-height: 30px;
      gap: 6px; // Reduzir o gap entre os ícones do carrinho
    }
  }
}

.quantity {
  margin-left: 2px;


}

.searchToggle {
  background: none;
  border: none;
  padding: 2px;
  cursor: pointer;

  .socialIcon {
    max-width: 40px;
    max-height: 40px;
    display: block;


  }
}
