@use '../../../_css/queries.scss' as *;

.filterMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 25px 0px;
  font-size: 15px;



}

.filterMenuButtons {
  display: flex;
  align-items: center;
  justify-content: flex-star;
  width: 100%;
  z-index: 99;
  gap: 20px;

}

.hbar {
  border-bottom: 1px solid rgb(236, 236, 236); /* Adiciona uma borda sólida na parte inferior */
}

.home {
  margin-right: 8px;
  color: gray;
}

.newIn {
  margin: 0px 8px;
  color: black;
}

.pageRangeContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 10px;
  font-size: 13px;
  color: rgb(117, 117, 117)
}

.pagePathContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 10px;

  @include small-break {
    display: none;
  }

}


.filterDropdown {
  position: relative;
  padding: 5px 10px;
  border: 0px solid #ccc; /* Remove bordas */
  cursor: pointer;
  width: 150px; /* Ajuste a largura conforme necessário */
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease; /* Adiciona transição suave */
  display: none;
}

@media (max-width: 1000px) { /* Ajuste a largura conforme necessário */
  .filterDropdown {
    display: none; /* Oculta o elemento em telas menores */
  }
}

.filterDropdown:first-child {
  margin-left: 0; /* Remove margem esquerda do primeiro botão */
}

.filterDropdown + .filterDropdown {
  margin-left: 20px; /* Adiciona espaçamento entre os botões */
}

.filterDropdown:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

.filterDropdown::after {
  content: '▾'; /* Caractere Unicode para seta */
  margin-left: 10px; /* Espaço entre o texto e a seta */
  font-size: 12px; /* Ajuste o tamanho conforme necessário */
  color: #000; /* Cor da seta */
}

.filterDropdown span {
  display: block;
}

.dropdownList {
  display: none; /* Inicialmente escondido */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 0px solid #ccc; /* Remove bordas */
  z-index: 1000;
}

.filterDropdown:hover .dropdownList {
  display: block; /* Mostra o dropdown quando o mouse está sobre o elemento */
}

.dropdownList li {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdownList li:hover {
  background-color: #f5f5f5;
}

.dropdownList input {
  margin-right: 10px;
}

.sortContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto; /* Move a seção "Classificar por" para a direita */
}

.sortLabel {
  margin-right: 10px;
  font-weight: bold;
}

.customDropdown {
  position: relative;
  padding: 10px;
  border: 0px solid #ccc; /* Remove bordas */
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease; /* Adiciona transição suave */
}

.customDropdown:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

.customDropdown::after {
  content: '▾'; /* Caractere Unicode para seta */
  margin-left: 10px; /* Espaço entre o texto e a seta */
  font-size: 12px; /* Ajuste o tamanho conforme necessário */
  color: #000; /* Cor da seta */
}

.customDropdown ul {
  display: none;
}

.customDropdown:hover ul {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 0px solid #ccc; /* Remove bordas */
  z-index: 1000;
}

.dropdownOption {
  padding: 10px;
  cursor: pointer;
}

.dropdownOption:hover {
  background-color: #f5f5f5;
}

.navMenu {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.navMenu.open {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: fixed;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translateY(0%);
  transition: transform 0.3s ease-in-out;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.navMenu button {
  padding: 10px;
  text-decoration: none;
  color: black;
  border: none;
  border-bottom: 1px solid #ddd;
  background: none;
  line-height: 24px;

  cursor: pointer;
  text-align: left;

  &:last-child {
    border-bottom: none;
  }
}

.navMenu input[type="checkbox"] {
  width: 20px; /* Aumenta a largura do checkbox */
  height: 20px; /* Aumenta a altura do checkbox */
  padding: 1px!important; /* Espaço entre o checkbox e o texto */
  cursor: pointer; /* Cursor de mão ao passar sobre o checkbox */
  appearance: none; /* Remove o estilo padrão do checkbox */
  border: 1px solid #ccc; /* Borda do checkbox */
  border-radius: 3px; /* Bordas arredondadas */
  position: absolute; /* Para posicionar o pseudo-elemento */
  margin-top: 5px; /* Desloca o checkbox para baixo */
  right: 20px;
}

.navMenu input[type="checkbox"]:checked {
  background-color: black; /* Fundo preto quando selecionado */
}

.navMenu input[type="checkbox"]:checked::before {
  content: '✔'; /* Caractere Unicode para o check */
  color: white; /* Cor do check */
  font-size: 14px; /* Tamanho do check */
  position: absolute; /* Posicionamento absoluto */
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta a posição */
}


.mobileFilterButton {
  background-color: rgb(255, 255, 255); /* Cor de fundo do botão */
  color: black; /* Cor do texto */
  padding-top: 5px;
  padding-bottom: 5px;
  border: none; /* Remover bordas */
  border-radius: 1px; /* Bordas arredondadas */
  text-align: center; /* Centralizar texto */
  text-decoration: none; /* Remover sublinhado do texto */
  display: inline-block; /* Permitir que o botão seja exibido inline */
  font-size: 14px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de mão ao passar sobre o botão */
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */

  border: 1px solid rgb(236, 236, 236); /* Adicionando borda preta fina */


}



.filterButton:hover {
  background-color: #333; /* Cor de fundo ao passar o mouse */
}

.backButton {
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.filterOption {
  padding: 10px;
  font-size: 17px;
  display: flex; /* Define o layout flexível */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  margin-bottom: 10px; /* Espaçamento entre as opções */
}
.filterInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative; /* Add this line */

}

.filterInputContainer input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  padding-left: 35px; /* Add padding to the left to make space for the search icon */
}

.filterInputContainer input::placeholder {
  color: #ccc;
}

.searchIcon {
  position: absolute; /* Position the search icon */
  left: 10px; /* Adjust the position of the search icon */
}

.clearIcon {
  position: absolute; /* Position the clear icon */
  right: 10px; /* Adjust the position of the clear icon */
  cursor: pointer; /* Add pointer cursor */
}

